<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= result._id %>" method="POST">
        <input type="text" name="en" placeholder="EN" value="<%= result.en %>">
        <br/><br/>
        <input type="text" name="vn" placeholder="VN" value="<%= result.vn %>">
        <br/><br/>
        <button>Edit word</button>            
    </form>
</body>
</html>