<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Words</h3>
        <% arrWords.forEach(e => { %>
            <h4><%= e.en %></h4>
            <p><%= e.vn %></p>
        <% }); %>
    </body>
</html>